*.DS_Store
*.pyc

/tmp
/lib/
/logs
/precompile
/javadoc
/nbproject
/.idea
/node_modules

Shalala.iml
Shalala.ipr
Shalala.iws

modules/
.idea/
/test-result/

/.classpath
/.project
/.settings/
/eclipse/
/precompiled/
