
g
*.DS_Store
*.pyc

Shalala/tmp
Shalala/lib/
Shalala/logs
Shalala/precompile
Shalala/javadoc
Shalala/nbproject
Shalala/.idea
Shalala/node_modules

Shalala.iml
Shalala.ipr
Shalala.iws

modules/
.idea/
/Shalala/test-result/

Shalala/.classpath
Shalala/.project
Shalala/.settings/
Shalala/eclipse/
Shalala/precompiled/
